--disable wrapMultilineStatementBraces
--extensionacl on-declarations
--hexgrouping 2
--ifdef noindent
--indent 2
--operatorfunc nospace
--ranges nospace
--swiftversion 6.0
--symlinks ignore
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--maxwidth 80
--exclude Tests/RegressionTests/__Snapshots__
