--disable wrapMultilineStatementBraces
--extensionacl on-declarations
--hexgrouping 2
--ifdef noindent
--indent 2
--operatorfunc nospace
--ranges nospace
--swiftversion 5.1
--symlinks ignore
--wraparguments before-first
--wrapcollections before-first